@import "../abstracts/variables";
@import "../abstracts/mixins";

.navbar-style {
    position: absolute;
    right: 1rem;
    top: 1rem;
    list-style-type: none;
    background-color: transparent;
    text-decoration: none;

    &__items {
        font-size: 2rem;
        border-radius: 5px;
        color: $primary-color;
        display: inline-block;
        list-style-type: none;
        text-align: right;
        margin: 0 1rem 0 1rem;
        cursor: pointer;
        padding: .5rem 1rem .5rem 1rem;
        transition: all .3s;
        text-decoration: none;

        &:hover {
            @include boxShadow;
        }
    }
}