.header {
    padding-bottom: 20rem;
    z-index: 9999;
}

.projects {
    margin-top: -17rem;
    padding: 10rem 0 0 0;
    background-color: $primary-color-highlight;
}

.about {
    margin-top: 12rem;
    padding: 10rem 0 0 0;
}